:root {
  --primary-clr: #0b1b69;
  --yellow: #ffd027;
  font-family: 'Heebo', sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}
.navigation {
  height: 70px;
  background: #fff;
}
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: var(--primary-clr);
  text-decoration: none;
}
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.9px;
  color: var(--primary-clr);
  text-transform: uppercase;
  font-family: 'Heebo', sans-serif;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: var(--yellow);
  color: var(--primary-clr);
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  background: #fff;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}
@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #fff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
/**************sub-header***********/
.sub-header {
  padding: 30px 0;
}
.sub-header .circle-round {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: var(--yellow);
  margin-right: 20px;
}
.sub-header .circle-round .fas {
  font-size: 20px;
  color: var(--primary-clr);
}
.sub-header .contact-details h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-clr);
}
.sub-header .contact-details h4,
.sub-header .contact-details a {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-clr);
}
.sub-header .main-flex .flex-wrap:not(:last-child) {
  margin-right: 40px;
}
.sub-header .btn-wrapper {
  text-align: right;
}
