@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;500;700&family=Inter:wght@300;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --primary-color: #FFD027;
    --secondary-color: #0B1B69;
    --for-text: #6c7084;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
br,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Heebo', sans-serif!important;
    font-family: 'Inter', sans-serif!important;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/*Box-section-start*/

.box {
    margin-top: 20px;
}

.box .for-bg {
    background-color: var(--secondary-color);
}

.box .content {
    padding: 50px 0;
}

.box .content h2 {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.box .content .number {
    font-size: 42px;
    font-weight: 700;
    color: #fff;
}

.box .content .number sup {
    font-size: 32px;
    font-weight: 600;
    color: var(--primary-color);
    top: -4px;
    left: -3px;
}


/*Box-section-end*/


/*Product-section-start*/

.product {
    margin-top: 75px;
}

.product .main-heading {
    margin-bottom: 1rem;
}

.product .main-heading .heading {
    position: relative;
    left: 5%;
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
}

.product .main-heading .solid-line {
    width: 45px;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    top: 33%;
}

.product .three-block .title h2 {
    font-size: 32px;
    font-weight: 500;
    color: var(--secondary-color);
}

.product .three-block .para p {
    font-size: 16px;
    font-weight: 400;
    color: #6c7084;
}

.product .three-block .btn {
    padding: 12px 32px 12px 32px !important;
    border-radius: 50px!important;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.product .two-block {
    margin: 60px 0;
}

.product .two-block .box-img .img img {
    position: relative;
}

.product .two-block .box-img .img img {
    width: 100%;
    height: 318px;
    object-fit: cover;
}

.product .two-block .box-img .for-box-img {
    content: '';
    position: absolute;
    top: 80%;
    left: 8%;
    width: 84%;
    height: 100px;
    background-color: var(--secondary-color);
}

.product .two-block .for-box-img .text h3 {
    position: absolute;
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}


/*Product-section-end*/